html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

body, h1, p{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 28px;
    margin: 50px 0px 0px 30px;
}

.center{
    position: relative;
    left:50%;
    transform: translate(-50%);
}

#info-container{
    position: relative;
    width: 966px;
    height: 550px;
    background-color: #d6d6d6;
    padding-top: 30px;
    padding-left: 30px;
}

#info-container > p{
    margin-bottom: 30px;
}

table {
    position: relative;
    border-collapse: collapse;
    width: 996px;
    margin-top: 28px;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    color: white;
    background-color: #545454;
}

#add-subsample-button{
    position: absolute;
    font-weight: bold;
    width: 181px;
    height: 30px;
    background-color: #5c82a3;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    color: white;
    margin: 48px 0px 0px 533px;
}

#search-form{
    /* background-color: red; */
    width: 262px;
    height: 38px;
    position: relative;
    margin-left: 734px;
    margin-top: 30px;
    top: 14px;
    border: 1px solid black;
    border-radius: 15px;
}

#search-box{
    position: relative;
    width: 227px;
    height: 38px;
    border-radius: 15px 0 0 15px;
    border: none;
    margin:0;
    padding:0;
}

#search-button{
    position: relative;
    width: 30px;
    height: 38px;
    border-radius: 0 15px 15px 0;
    border: none;
    margin:0;
    padding:0;
    left:0;
}

#search-button:hover{
    cursor:pointer;
}

.item1 { grid-area: sidenav; width:244px;height:auto;}
.item2 { grid-area: header; width:1056px;height:auto;}
.item3 { grid-area: side; width:1056px;height:auto;padding-top: 20px;}

.grid-container {
    display: grid;
    grid-template-areas:
    'sidenav header header '
    'sidenav side form';
    background-color: #F0F0F0;
    width: 1300px;
}

.grid-container > div {
    background-color: #F0F0F0;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    color: white;
    background-color: #545454;
}

tr:hover{
    cursor:pointer;
}

tr:nth-child(even) {
    background-color: #d6d6d6; /* Light gray */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* White */
}

img{
    width: 15px;
    border-radius: 20px;
}