@font-face {
    font-family: 'Palantino'; /* Give your font a name */
    src: url('../assets/font/palatinolinotype_bold.ttf') format('truetype'); /* Optional fallback */
    font-weight: normal; /* Define font weight (e.g., normal, bold, 400, 700) */
    font-style: normal; /* Define font style (e.g., normal, italic) */
    font-display: swap; /* Important for performance */
}

*{
    font-family: d-din_exp, sans-serif;
}

.wallpaper{
    background-image: url("../assets/image/wallpaper.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.text-main{
    color: #F8F8F8;
}

.nav-link:hover{
    color: #F8F8F8;
    background-color: #0F9A4E;
}

.main-color{
    background-color: #386b1f;
}

.second-color{
    background-color: #d6d6d6;
}

.third-color{
    background-color: #F0F0F0;
}

#myChart { /* Make sure the chart container has dimensions */
    width: 100%; /* Or whatever width you want */
    height: 530px; /* Or whatever height you want */
}

#button-container{
    display: inline-block;
    width: 59px;
    height: 29px;
    background-color: red;
    position: relative;
    top: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

#button-container:hover{
    cursor: pointer;
}

#button-button{
    position: relative;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 35px;
    top: -3px;
    left: -2px;
    border: 1px solid black;
}

input[type="radio"]:disabled {
    opacity: 1; /* Make it fully opaque */
    cursor: default; /* Change cursor back to normal */
    /* Remove any other default disabled styles you don't want */
    filter: none; /* remove grayscale filter */
}