html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

body, h1, p{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 28px;
    margin: 50px 0px 0px 30px;
}

.center{
    position: relative;
    left:50%;
    transform: translate(-50%);
}

.title-text{
    position: relative;
    font-size: 15px;
    font-weight: bold;
    margin-left: 30px;
}

.subtitle-text{
    position: relative;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 5px;
}

#form-container{
    position: relative;
    width: 656px;
    height: auto; /* Adjust height to fill available space */
    /* background-color: yellow; */
}

#form-container > form{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    /* border: 1px solid black; */
    margin-bottom: 15px;
    width: 200px;
    height: auto;
}

.top-label{
    display: block;
    font-size: 15px;
    margin-bottom: 2px;
}

.side-label{
    font-size: 15px;
}

.large-input{
    width: 259px;
    height: 29px;
    border-radius: 30px;
    text-align: center;
    border:1px solid black;
    padding:0;
}

.small-input{
    width: 170px;
    height: 29px;
    border-radius: 30px;
    text-align: center;
    border:1px solid black;
    padding:0;
}

.radio-input{
    width: 20px;
    height: 20px;
    text-align: center;
    border:1px solid black;
    padding:0;
}

.coordinate-input{
    width: 50px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    border:1px solid black;
    padding:0;
}

.one-flex{
    flex: 1 1 600px;
}

.two-flex{
    flex: 1 1 300px;
}

.three-flex{
    flex: 1 1 200px;
}

.horizontal-line{
    width: 997px;
    margin-left: -370px;
    border: 1px solid black;
}

#button-container{
    display: inline-block;
    width: 59px;
    height: 29px;
    background-color: red;
    position: relative;
    top: 10px;
    border-radius: 20px;
    border: 1px solid black;
}

#button-container:hover{
    cursor: pointer;
}

#button-button{
    position: relative;
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 35px;
    top: -3px;
    left: -2px;
    border: 1px solid black;
}

#submit-button{
    position: relative;
    background-color: #5c82a3;
    color: white;
    border: none;
    width: 243px;
    height: 75px;
    border-radius: 20px;
    font-weight: bold;
    top: 20px;
    margin-bottom: 40px;
}

.item1 { grid-area: sidenav; width:244px;height:auto;}
.item2 { grid-area: header; width:1056px;height:auto;}
.item3 { grid-area: side; width:400px;height:auto;padding-top: 20px;}
.item4 { grid-area: form; width:656px;height:auto;padding-top: 20px;}

.grid-container {
    display: grid;
    grid-template-areas:
    'sidenav header header '
    'sidenav side form';
    background-color: #F0F0F0;
    width: 1300px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
}